<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="driverManager" class="ru.lanit.at.driver.DriverManager" destroy-method="shutdown"/>
    <bean id="pageCatalog" class="ru.lanit.at.pages.PageCatalog">
        <property name="driverManager" ref="driverManager"/>
    </bean>

    <bean id="wait" class="ru.lanit.at.make.Wait">
        <property name="driverManager" ref="driverManager"/>
    </bean>

    <bean id="make" class="ru.lanit.at.make.Make">
        <property name="wait" ref="wait"/>
    </bean>

    <bean id="dataKeeper" class="java.util.HashMap">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="java.lang.String"/>
        </constructor-arg>
    </bean>

</beans>